* {
  margin: 0;
  padding: 0;
  font-family: "raleway";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #000;
  -webkit-transition: all 12.2s cubic-bezier(0, 1.03, 1, -0.04);
  transition: all 12.2s cubic-bezier(0, 1.03, 1, -0.04);
}

body .container {
  padding: 0em 2em;
  -webkit-transition: all 1.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 1.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-clip-path: circle(0px at 0 0);
          clip-path: circle(0px at 0 0);
  min-height: 100vh;
  background: linear-gradient(20deg, #040045 0%, #175a74 35%, #00a0c1 100%);
}

body .container .first-row {
  top:200px;
  color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4em;
  text-align: center;
}

body .container .first-row h1 {
  font-size: 50px;
}

body .container .first-row h2 {
  font-size: 30px;
  font-weight: 500;
  top: -100px;
}

body .container .first-row .thin {
  font-size: 30px;
  font-weight: 100;
}

body .container .first-row .title {
  padding: 10px;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}

body .container .first-row .arrow {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.377);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 1em;
  font-weight: 100;
  -webkit-animation: arrows 1s ease-in-out 2 alternate;
          animation: arrows 1s ease-in-out 2 alternate;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

body .container .first-row .arrow-1 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

body .container .first-row .arrow-2 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

body .container .first-row .arrow-3 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

body .container .second-row {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .container .second-row > h1 {
  color: white;
}

body .container .second-row .projects {
  width: 100%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.185);
  padding: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  margin-top: 100px;
}

body .container .second-row .projects > h1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  text-align: center;
}

body .container .second-row .projects .project {
  border: 1px solid rgba(156, 156, 156, 0.418);
}

body .container .second-row .projects .project:hover section.img img {
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

body .container .second-row .projects .project:hover section.img .project-link {
  bottom: 25px;
  opacity: 1;
  pointer-events: all;
}

body .container .second-row .projects .project h2 {
  text-align: center;
  text-transform: uppercase;
  color: orange;
}

body .container .second-row .projects .project section.img img {
  height: 170px;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body .container .second-row .projects .project section.img .project-link {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: absolute;
  border: 1px solid white;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  padding: 1em;
  border-radius: 1em;
  text-decoration: none;
}

body .container .second-row .projects .project section.img .project-link:hover {
  color: black;
  background: white;
}

body .container .second-row .projects .project h2, body .container .second-row .projects .project p {
  margin: 2em 0;
  padding: 0 1em;
}

body .container .scroll-down-btn {
  position: fixed;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

body .container .scroll-down-btn .bullet-down {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  background: rgba(255, 255, 255, 0.486);
  color: white;
  margin-bottom: 15px;
  padding: .27em;
  border: 2px solid rgba(238, 238, 238, 0.288);
  border-radius: 50%;
}

body .container .scroll-down-btn .bullet-down:after {
  content: " ";
  -webkit-clip-path: circle(0px at 0 0);
          clip-path: circle(0px at 0 0);
  -webkit-transition: .3s all ease .5s;
  transition: .3s all ease .5s;
  font-size: 18px;
}

body .container .scroll-down-btn .bullet-down:hover::after {
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  background: white;
  color: black;
}

body .container .scroll-down-btn .bullet-down:hover {
  cursor: pointer;
  background: white;
}

body .container .scroll-down-btn .bullet-down:nth-child(1):after {
  content: "projects";
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(-25%, -38%);
          transform: translate(-25%, -38%);
  text-align: center;
  border-radius: 1em;
  background: white;
  color: black;
}

body .container .scroll-down-btn .bullet-down:nth-child(2):after {
  content: "Translations";
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  text-align: center;
  border-radius: 1em;
  background: white;
  color: black;
}

body .container .scroll-down-btn .bullet-down:nth-child(3):after {
  content: "Contatct me";
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  text-align: center;
  border-radius: 1em;
  background: white;
  color: black;
}

body .third-row {
  min-height: 100vh;
  color: white;
  margin-top: 8em;
  display: -ms-grid;
  display: grid;
  width: 100%;
  place-content: center;
}

body .third-row h1, body .third-row p {
  text-align: center;
}

body .third-row p {
  margin-bottom: 2em;
  color: rgba(139, 139, 139, 0.527);
}

body .third-row > div {
  border: 1px solid rgba(255, 255, 255, 0.219);
  text-align: center;
  padding: 1em;
}

body .third-row > div svg {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

body .third-row > div a:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .fourth-row {
  min-height: 100vh;
}

body .fourth-row > h1 {
  color: white;
  text-align: center;
  padding: 1em 0;
}

body .fourth-row div.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .fourth-row div.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

body .fourth-row div.social-media ul li {
  padding: 1em;
  margin: 2em;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

body .fourth-row div.social-media ul li a {
  color: white;
}

body .fourth-row div.social-media ul li a svg {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

body .fourth-row div.social-media ul li a:hover svg {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.show {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

@media (max-width: 800px) {
  .container {
    background: white;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 500px) {
  .first-row h1 {
    font-size: 30px;
  }
  .first-row h2 {
    font-size: 30px;
    font-weight: 500;
    top: -50px;
  }
  .first-row .thin {
    font-size: 24px;
    font-weight: 100;
  }
  .first-row .title {
    padding: 10px;
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  .project {
    width: 100%;
  }
  .project-link {
    bottom: 25px;
    opacity: 1;
    pointer-events: all;
  }
}

@-webkit-keyframes arrows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */
